<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3"> <!-- Adjust the size as needed -->
            <img src="assets/about-image1.png" class="logo" alt="Logo" style="width: 100px; height: auto;">
          </ion-col>
          <ion-col size="9"> <!-- Adjust the size as needed -->
            <ion-card-title class="ion-text-right">
              Company Overview
            </ion-card-title>
            <p style="color: #fbab2f;">
              The tagline “Spirit of Wealth” is not just some flowery words, and the company name Ubuntu Invest is not
              chosen at random. Ubuntu is often translated as “I am because we are” or “humanity towards each other”.
              There are many understandings of the word Ubuntu, but it all comes back to a sense of community and
              togetherness. Ubuntu Invest will be your partner and get involved in the community as a support to help
              you achieve more.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>

      <p >
        As a top-tier brokerage with full compliance and backed by well-established international technology providers,
        clients from the majority of the world can safely trade with Ubuntu Invest.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="2"> <!-- Adjust the size as needed for the image column -->
            <img src="assets/vision.png" class="logo" alt="Logo" style="width: 100px; height: auto;">
          </ion-col>
          <ion-col size="10"> <!-- Adjust the size as needed for the text column -->
            <p  style="color: var(--primary-blue);">
              The tagline “Spirit of Wealth” is not just some flowery words, and the company name Ubuntu Invest is not
              chosen at random. Ubuntu is often translated as “I am because we are” or “humanity towards each other”.
              There are many understandings of the word Ubuntu, but it all comes back to a sense of community and
              togetherness. Ubuntu Invest will be your partner and get involved in the community as a support to help
              you achieve more.
            </p>

          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-card-header>

    <ion-card-content>
      <p>
        Ubuntu is often translated as “I am because we are” or “humanity towards each other”. There are many
        understandings of the word Ubuntu, but it all comes back to a sense of community and togetherness. Ubuntu Invest
        will be your partner and get involved in the community as a support to help you achieve more.

        The Spirit of Wealth is the inner desire that people have to achieve more. It’s not just about the numbers in
        your bank account, but real wealth. The ability to live the good life, to help your family, to relax, to
        experience the world and go on adventures. Or perhaps just to buy that supercar! Wealth is more than just money;
        it’s everything that financial freedom can give you.

        At Ubuntu Invest, our vision is to help create 100 new millionaires in Africa within five years. Will you be one
        of them?
      </p>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>