<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="assets/nelisiwe-masango 1.png" alt="Nelisiwe Masango" style="width: 100%; height: auto;">
        </ion-col>
        <ion-col size="8">
          <ion-card-title class="ion-text-right">
            Ubuntu Invest CEO - Nelisiwe Masango
          </ion-card-title>
          <p class="ion-text-right" style="color: #1CB9C3;">
            Ubuntu Invest CEO Nelisiwe Masango does not shy away from a challenge and is not afraid to pursue a passion.
            As a young schoolgirl, Nelisiwe was planning on becoming a neurosurgeon, but she developed a love for
            finances and investment.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <p>
      Neli started her first business with no capital and learnt the value of proper money management as well as
      networking. Since then she has won multiple awards, including the prestigious Frost & Sullivan African Growth
      Innovation & Leadership Award, alongside the founder and CEO of Discovery, Adrian Gore.
    </p>
    <br>
    <p class="ion-text-center" style="color: #fbab2f;">
      “While some people aspired to be entrepreneurs, I was born one.”
    </p>
    <br>
    <p>
      She defines entrepreneurship as the process of finding solutions and serving the community. As a firm believer
      that education is one of the best ways to improve people’s lives, Neli has made it a personal mission to help
      educate people in financial freedom and wealth generation.
    </p>
    <br>
    <p style="color: #fbab2f;">
      “I personally feel that education, on all levels, is required to build a sustainable global economy.”
    </p>
    <br>
    <p>
      Through her company Bear Run Investments, Neli has achieved several milestones. In 2016 they had a 1-year
      partnership with Santam Insurance to promote entrepreneurship. In 2017 she represented South Africa at the World
      Forum for Responsible Economy in France! The same year she received the award by Frost and Sullivan.
    </p>
    <br>
    <p>
      In 2018, they took their financial training courses and were awarded the Service Seta accreditation, which is
      incredibly rare in our industry! A strong sense of community and a passion for financial wealth lead to her
      creating Ubuntu Invest as the best brokerage possible.
    </p>
  </ion-card-content>
</ion-card>