<ion-content class="ion-padding">
  <h1></h1>
  <h2>RESET PASSWORD</h2>
  
  <p>
   A request has been receveid  to change the password for your Ubuntu Invest<span class="new-line"> account.</span>
  </p>
  
  <ion-button class ="register-button">Reset Password</ion-button>
  
  <p>
    if you did not initiate this request please contact us immediatley at
 <span class ="register-link"> support@ubuntuinivest.com</span>
  </p>

  <p>
    Thank you 
    <span class="new-line">The Ubuntu Invest Team.</span>
  </p>

  <img src="assets/Ubuntu.png" class="logo" alt="Logo" >
</ion-content>

